/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Shared Styles */
*{
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling header section */
header{
    margin: 50px 50px;
}

.brandIcon > h3{
    display: flex;
    align-items: center;
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}

h3 > span{
    color: #FF5400;
    margin-left: 10px;
}

header > nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.brandIcon{
    display: flex;
    gap: 20px;
}

nav > ul{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0px;
}

nav > ul > li{
    list-style: none;
    font-size: 1.2rem;
}

nav > ul > li:nth-child(1){
    color: #FF5400;
}

/* Styling explore section */
.mainExplore{
    margin: 50px 100px;
    padding: 100px 250px;
    background: linear-gradient(rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.20)), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    border-radius: 16px;
    /* filter: brightness(80%); */
    text-align: center;
}

.mainExplore > h1{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 800;
}

.mainExplore > p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.mainInputs{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 20px;
    gap: 10px;
}

.firstInput, .mainInputs > select, .mainInputs > button{
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 10px 0px 10px 10px ;
    font-size: 1rem;
    width: 30%;
    color: rgba(19, 19, 24, 0.50);
}

.mainInputs > button{
    /* border-radius: 8px; */
    background: #FF5400;
    color: white;
    margin-left: 5px;
}

.mainInputs > button > img{
    width: 8%;
    /* margin-top: 20px; */
    /* padding: 5px; */
}

/* select > option{
    color: rgba(19, 19, 24, 0.50);
} */

/* .mainInputs > button{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
} */

/* button > img{
    width: 30%;
    object-fit: cover;
} */

/* Styling Popular Section */
.popular{
    margin: 50px 100px;
    display: flex;
    gap: 40px;
}

.popularContent{
    width: 48%;
}

.popularContent > h3{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.popularContent > p, .popularContent li{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(19, 19, 24, 0.70);
}

.popularContent > ul{
    padding: 10px 20px;
}

.popularContent > button{
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 10px 30px;
    color: white;
    margin-top: 20px;
}

.popularImg{
    width: 48%;
}

.popularImg img{
    width: 100%;
    /* width: auto; */
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

/* Styling destination area */
.destination{
    margin: 50px 100px;
}

.destinationContent{
    text-align: center;
}

.destinationContent > h3{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.destinationContent > p{
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgba(19, 19, 24, 0.70);
}

.destinationImg{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    /* position: relative; */
}

.destinationImg img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.img1{
    grid-column: 1/ span 6;
    /* grid-row: 1/ span 1; */
}

/* .img1 > h3{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.img2{
    grid-column: 7/ span 6;
}

.img3{
    grid-column: 1/ span 4;
    /* grid-row: 2/ span 1; */
}

.img4{
    grid-column: 5/ span 5;
}

.img5{
    grid-column: 10/ span 3;
}

.img6{
    grid-column: 1/ span 5;
}

.img7{
    grid-column: 6/ span 7;
}

/* Styling selection section */
.selection{
    margin: 50px 100px;
}

.selectionText{
    text-align: center;
}

.selectionText > h3{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.selectionText > p, .twoService p, .thirdService p{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(19, 19, 24, 0.70);
}

.twoService{
    display: flex;
    border-radius: 16px;
    gap: 20px;
}

.twoService h5, .thirdService h5{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstService, .secondService, .thirdService{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

.thirdService{
    margin-top: 20px;
    border-radius: 16px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Styling Testimonial section */
.testimonial{
    margin: 50px 100px;
    display: flex;
    background: rgba(19, 19, 24, 0.05);
    padding: 20px;
    border-radius: 16px;
}

.testimonialText{
    width: 48%;
    text-align: center;
}

.testimonialContent{
    width: 48%;
}

.testimonialContent img{
    width: 10%;
}

/* Styling Call to action section */
.callToAction{
    display: flex;
    gap: 20px;
    margin: 50px 100px;
}

.newsLetter{
    width: 48%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px;
}

.newsLetter > h5{
    font-size: 1.2rem;
    /* margin-top: 20px; */
    margin-bottom: 10px;
}

.newsLetter > p{
    font-size: 1rem;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    color: rgba(19, 19, 24, 0.70);
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

.newsLetter input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
}

.newsLetter button{
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.discountImg{
    width: 48%;
}

.discountImg img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 16px;
}

/* Styling footer section */
footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 50px 100px;
}

footer > .brandIcon{
    justify-content: center;
    align-items: center;
}

footer > p{
    font-size: 0.8rem;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.final{
    color: #131318;
}

.footerIcon img{
    width: 3%;
}


/* Responsive styles for mobile devices */
@media screen and (max-width: 600px) {
    header, .selection, .callToAction, .testimonial{
        margin: 30px 10px;
    }

    .brandIcon > h3{
        font-size: 1.5rem;
        /* width: 100%; */
        /* justify-content: center; */
        /* align-items: center; */
    }

    header > nav{
        flex-direction: column;
        align-items: center;
    }

    nav > ul, .twoService, .callToAction, .testimonial{
        flex-direction: column;
        /* margin-top: 10px; */
    }

    .mainExplore{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .mainInputs{
        /* align-items: center;
        justify-content: center; */
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        width: 75%;
    }

    .firstInput, .mainInputs > select, .mainInputs > button{
        width: 90%;
    }

    .popular{
        flex-direction: column;
        gap: 10px;
        margin: 30px;
    }

    .popularContent, .popularImg, .thirdService, .discountImg, .newsLetter, .testimonialText, .testimonialContent{
        width: 100%;
    }

    .destination{
        flex-direction: column;
        margin: 10px;
    }

    .destinationImg{
        display: flex;
        flex-direction: column;
    }

    footer{
        padding: 50px;
    }

    .footerIcon img{
        width: 15%;
    }

    footer > p{
        font-size: 1rem;
    }

    .testimonial{
        gap: 10px;
    }
}

/* Responsive styles for devices larger or equal to 992px */
@media screen and (min-width: 992px){
    /* header{
        margin: 50px 60px;
    } */

    .mainExplore{
        /* width: 100%; */
        /* margin: 50px 50px; */
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainExplore > p{
        margin-bottom: 40px;
    }

    .mainInputs{
        gap: 20px;
        width: 80%;
    }
}