/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Shared Styles */
*{
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling header section */
header{
    margin: 50px 100px;
}

.brandIcon > h3{
    display: flex;
    align-items: center;
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}

h3 > span{
    color: #FF5400;
    margin-left: 10px;
}

header > nav{
    display: flex;
    justify-content: space-between;
}


.brandIcon{
    display: flex;
    gap: 20px;
}

nav > ul{
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 10px 0px;
}

ul > li{
    list-style: none;
    font-size: 1.2rem;
}

li:nth-child(1){
    color: #FF5400;
}

/* Styling explore section */
.mainExplore{
    margin: 50px 100px;
    padding: 100px 250px;
    background: linear-gradient(rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.20)), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    border-radius: 16px;
    /* filter: brightness(80%); */
    text-align: center;
}

.mainExplore > h1{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 800;
}

.mainExplore > p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.mainInputs{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 20px;
    gap: 10px;
}

.firstInput, .mainInputs > select, .mainInputs > button{
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 10px 0px 10px 10px ;
    font-size: 1rem;
    width: 25%;
    color: rgba(19, 19, 24, 0.50);
}

.mainInputs > button{
    /* border-radius: 8px; */
    background: #FF5400;
    color: white;
}

/* select > option{
    color: rgba(19, 19, 24, 0.50);
} */

/* .mainInputs > button{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
} */

/* button > img{
    width: 30%;
    object-fit: cover;
} */

/* Responsive styles for mobile devices */
@media screen and (max-width: 600px) {
    header{
        margin: 10px;
    }

    .brandIcon > h3{
        font-size: 1.5rem;
        /* width: 100%; */
        /* justify-content: center; */
        /* align-items: center; */
    }

    header > nav{
        flex-direction: column;
        align-items: center;
    }

    nav > ul{
        flex-direction: column;
    }

    .mainExplore{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .mainInputs{
        /* align-items: center;
        justify-content: center; */
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        width: 75%;
    }

    .firstInput, .mainInputs > select, .mainInputs > button{
        width: 90%;
    }
}

/* Responsive styles for devices larger or equal to 992px */
@media screen and (min-width: 992px){
    header{
        margin: 50px 60px;
    }

    .mainExplore{
        /* width: 100%; */
        margin: 50px 50px;
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainExplore > p{
        margin-bottom: 40px;
    }

    .mainInputs{
        gap: 20px;
        width: 80%;
    }
}